{{#if sucess_msg}}
    <div class="alert alert-success">{{sucess_msg}}</div>
{{/if}}

{{#if error_msg}}
 <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

<!-- essa partial esta sendo exibida dentro da layot main por isso que ela aparece as mensagens de erro na index admin-->